<label>{{label}}{%if extras[-1] == "req"%}*{%endif%}</label>
{% for option in extras[:-1] %}
<label>
  <input type="radio" id="{{option}}" name="{{name}}" value="{{option}}" style="margin-bottom: 0;">
  <span class="label-body" style="display: inline;margin-bottom: 1.5rem;">{{option}}</span>
</label>
{% endfor %}
{% if desc %}
<p>{{desc}}</p>
{%endif%}