<label>{{label}}{%if extras[-1] == "req"%}*{%endif%}</label>
<div class="row">
{% for option in extras[:-2] %}
  <div class="{{extras[-2]}} columns">
    <label>
      <input type="radio" id="{{option}}" name="{{name}}" value="{{option}}">
      <span class="label-body">{{option}}</span>
    </label>
  </div>
{% endfor %}
</div>
{% if desc %}
<p>{{desc}}.</p>
{%endif%}