<label for="{{name}}">{{label}}{%if extras[-1] == "req"%}*{%endif%}</label>
<select id="{{name}}" name="{{name}}" class="u-full-width">
  <option value=" ">{{desc}}</option>
  {% for option in extras[:-1] %}
  <option value="{{option}}">{{option}}</option>
  {% endfor %}
</select>