<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - nanoForms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{url_for('static', filename='css/fonts.css')}}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"">
</head>
<body>
  <div class="container" style="padding-top: 15px;">
{% block content %}{% endblock %}
  </div>
</body>
</html>