{% extends "base.html" %}
{% block title %}Editar formulários{% endblock %}
{% block content %}
<p><a class="button u-full-width" href="./">Página inicial</a></p>
<h2>Editar formulários</h2>
{% for form in forms %}
<h5>{{form}}</h5>
<div class="row">
    <div class="eight columns">
        <a href="./new?form={{form}}" class="button button-primary u-full-width">Editar</a>
    </div>
    <div class="four columns">
        <a href="./edit?delete={{form}}" class="button red u-full-width">Excluir</a>
    </div>
</div>
{% endfor %}
{% endblock %}