{% extends "base.html" %}
{%block title%}{%if fail%}Erro{%else%}Formulário salvo{%endif%}{%endblock%}
{% block content %}
{% if fail %}
<h2>Não foi possível salvar</h2>
{% else %}
<h2>Formulário Salvo</h2>
{% endif%}

{% include "messages.html" %}

{% if fail %}
<a onclick="history.back()" class="button button-primary u-full-width">Voltar para o formulário</a>
{% else %}
<a href="./form?form={{form}}" class="button button-primary u-full-width">Preencher novamente</a>
{% endif%}
<a href="./" class="button u-full-width">Página inicial</a>
{% endblock %}