{% extends "base.html" %}
{% block title %}{{form}}{% endblock %}
{% block content %}
<p><a class="button u-full-width" href="./">Página inicial</a></p>
<h3>{{form}}</h3>
<form action="./submit" method="post">
  <input type="hidden" name="form" value="{{form}}">
  {% for q in Qs %}
  {% autoescape false %}
  {{q}}
  {% endautoescape %}
  {% endfor %}
  <p>* Campos obrigatórios.</p>
  <div class="row" style="margin-top:2rem;">
    <div class="six columns"><input class="button-primary u-full-width" type="submit" value="Enviar"></div>
    <div class="six columns"><input class="u-full-width" type="reset" value="Limpar"></div>
  </div>
</form>
{% endblock %}