{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}
<h2>nanoForms</h2>
{% for form in forms %}
<a class="button button-primary u-full-width" href="./form?form={{form}}">{{form}}</a>
{% endfor %}
<a class="button u-full-width" href="./new">Novo formulário</a>
<a class="button u-full-width" href="./edit">Editar formulários</a>
{% endblock %}