{% extends "base.html" %}
{% block title %}Editar formulário{% endblock %}
{% block content %}
<p><a class="button u-full-width" href="./">Página inicial</a></p>
<h3>Editar Formulário</h3>
<form action="./new" method="post">
  <label for="name">Nome do formuário</label>
  <input class="u-full-width" type="text" placeholder="Nome do formulário" name="name" id="name" value="{{name}}">
  <label for="script">Script</label>
  <textarea class="u-full-width edit" placeholder="Script para o formulário" name="script" id="script">{{script}}</textarea>
  {%if test %}<h5>Campos detectados:</h5>{% endif %}
  {% include "messages.html" %}
  <div class="row" style="margin-top:2rem;">
    <div class="six columns"><input class="u-full-width" type="submit" name="submit" value="Testar"></div>
    <div class="six columns"><input class="button-primary u-full-width" type="submit" name="submit" value="Salvar"></div>
  </div>
</form>
{% endblock %}