.link {
    cursor: pointer;
    text-decoration: underline;
}

.red:hover {
    background-color: #C43E1F !important;
    border-color: #C43E1F !important;
    color: white !important;
}

.edit{
    min-height: 310px !important;
}